.dataTables_filter{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.dataTables_paginate{
    /* display: flex; */
    /* justify-content: space-around; */
    display: none;
}

.paginate_button{
    text-decoration: none;
    color: slateblue;   
}

.table-data{
    
}